*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}
body{
  background:#0f172a;
  color:white;
}
header{
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  background:#020617;
}
nav a{
  margin-left:20px;
  color:white;
  text-decoration:none;
}
.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:80px;
}
.hero-text h1{
  font-size:40px;
  margin-bottom:20px;
}
.hero-text p{
  margin-bottom:20px;
}
button{
  padding:10px 20px;
  border:none;
  background:#22c55e;
  color:white;
  cursor:pointer;
  border-radius:5px;
}
.features{
  display:flex;
  justify-content:space-around;
  padding:50px;
}
.card{
  background:#1e293b;
  padding:20px;
  border-radius:10px;
  width:200px;
  text-align:center;
}
footer{
  text-align:center;
  padding:20px;
  background:#020617;
}
